<ion-view title="Inicio" id="home">
    <ion-pane>
      <ion-content class="has-header padding" ng-controller="homeCtrl" style="background-color: #393E80;">  
       
       <div>
           <img src="img/imagen-pantalla1.png" style="heigt: 100%; width: 100%;">
       </div>
       
        <div class="item item-divider">
            
            <i class="ion-images"></i>
            Galeria
        </div>

        <a class="item item-list-detail transparent">
            <ion-scroll direction="x">
                <img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
            </ion-scroll>
        </a>

      </ion-content>
    </ion-pane>
</ion-view>