<ion-view title="12° Bienal de Arte Joven" id="page17" class=" ">
    <ion-content padding="true" class="has-header"  ng-controller="inicioCtrl" style="background: #FFFFFF;">
        <img ng-src="img/inicio.gif" style="heigt: 381px; width: 100%;" >
        <div>
            <p>
                La Bienal de Arte Joven cuenta con más de dos décadasde trayectoria. 
                Desde 1994 la Secretaría de Cultura de la Universidad Nacional del Litoral y 
                la Federación Universitaria del Litoral la concibieron como un espacio abierto 
                para la expresión y la participación de los jóvenes creadores de Santa Fe y la región. 
                A partir de esta premisa la Bienal se fue transformando en una propuesta convocante y 
                ha logrado posicionarse como el punto de encuentro y  confluencia de la juventud universitaria
                y la comunidad en general.<br>
                <br>
                En el desarrollo de las ediciones anteriores han pasado por ella miles de jóvenes artistas y otros tantos visitantes. Cada año la Bienal fue creciendo y tomando distintos espacios de nuestra ciudad. Los más destacados referentes de los diferentes campos del arte y la cultura de la ciudad y la región estuvieron presentes a través de recitales, clínicas, talleres, debates y demás actividades. Es importante destacar que la Bienal de Arte Joven nació
                como una inquietud de los estudiantes universitarios, quienes junto a la Secretaría de Cultura coincidieron en la necesidad de generar un espacio común en el que los jóvenes pudiesen exponer sus producciones artísticas y crear oportunidades para fomentar el intercambio.<br> 
                <br>
                <span>DESCRIPCIÓN</span><br>
                Mediante una inscripción previa los artistas proponen sus trabajos para formar parte de la programación de la Bienal. Durante el desarrollo del encuentro se exponen todas las obras y grupos seleccionados por un jurado especializado en cada uno de los campos de expresión y, a su vez, se llevan a cabo diversas propuestas de formación artística. Dicho evento contribuye a la reexión y la expresión de pensamientos, sentimientos y expectativas de las
                distintas concepciones del arte. Se trata de un espacio de reunión para artistas de distintos géneros con el público y con sus pares, propiciando el estímulo, la formación y la difusión de los jóvenes creadores.<br>
                <br> 
                <span>12 BIENAL DE ARTE JOVEN 2016</span><br>
                <br>
                En cada nueva edición de la Bienal nos enfrentamos al desafío que plantea la propia dinámica de la producción artística joven. Son expresiones que mutan constantemente, que interactúan con la realidad, son activas y receptivas a las nuevas tecnologías. Es por esto que nos proponemos atender los campos de expresión que atraviesan e interpelan a los jóvenes intentando generar no sólo un espacio de intercambio y de encuentro sino también de visibilidad y contención. <br>
                <br>
                En esta 12ª edición la Bienal se rearma como un proyecto que pretende motivar la producción artística promoviendo propuestas originales, nterdisciplinares e innovadoras en términos estéticos, que permitan acercar el trabajo, la investigación y la experimentación en las expresiones contemporáneas de nuestros jóvenes a los diversos públicos de nuestra ciudad.<br>
                <br>
                <span>OBJETIVOS</span><br> 
                • Promover la construcción de un espacio común, abierto,
                y participativo que reúna a las distintas manifestaciones
                artísticas y culturales, haciendo hincapié en las
                expresiones interdisciplinarias, no convencionales
                y alternativas.<br>
                • Contribuir a la expresión de pensamientos, sentimientos
                y expectativas de las distintas concepciones del arte.<br>
                • Reunir en un espacio común a artistas de distintos
                géneros y al público en general como verdaderos
                protagonistas activos.<br>
                • Generar un espacio de contención y vínculo entre
                los jóvenes donde el punto de encuentro e identicación
                sean sus intereses artísticos y culturales.<br>
                • Propiciar, desde el ámbito universitario, el estímulo
                y la formación de jóvenes artistas en diferentes campos
                de la cultura.<br>
                • Contribuir a consolidar un canal que trascienda
                los límites del ámbito académico y donde converjan
                las diversas inquietudes y expectativas de la comunidad
                artística joven, promoviendo el conocimiento y la
                apropiación por parte del público y los participantes
                de los espacios de la Universidad.<br>
                <br>
                <span>AUTORIDADES</span><br>
                <br> 
                <span>UNIVERSIDAD NACIONAL DEL LITORAL</span><br>
                <span>Rector:</span> Miguel IRIGOYEN<br>
                <span>Secretario de Cultura:</span> Luis NOVARA<br>
                <br>
                <span>FEDERACIÓN UNIVERSITARIA DEL LITORAL</span><br> 
                <span>Presidente:</span> Alicia BARLETTA<br> 
                <span>Secretario de Cultura:</span> Marcos SUÁREZ ARAUJO<br> 
            </p>
        </div>
    </ion-content>
</ion-view>