<ion-view title="12° Bienal de Arte Joven" id="page14" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="inicioCtrl" style="background: #FFFFFF;">
        <img ng-src="img/cielorrazzo.png"  ng-click="createCalendarEvent(1)" style="heigt: 381px; width: 100%;" >
        <div>
            <p>
                <span>22:00 | FCJS · Patio de la Reforma</span><br>
                <br>
                La banda rosarina será la encargada del show de apertura.<br> 
                En esta oportunidad <span>CIELO RAZZO</span> presentará el disco Tierra Nueva,<br> 
                además de hacer un repaso por sus 23 años de trayectoria.<br>
                <br>
                <span>Pablo Pino:</span> voz<br>
                <span>Diego Almirón:</span> guitarra y coros</br>
                <span>Fernando Aime:</span> guitarra<br>
                <span>Cristian Narváez:</span> bajo<br>
                <span>Javier Robledo:</span> batería y Coros<br>
                <span>Marcelo Vizzarri:</span> teclados<br>
                <span>Carlo Seminara:</span> percusión<br>
            </p>
        </div>
    </ion-content>
</ion-view>