<ion-view title="Créditos" id="page19" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="inicioCtrl" style="background: #FFFFFF;">
        <img ng-src="img/creditos01.png" style="heigt: 381px; width: 100%;" >
        <img ng-src="img/creditos02.png" style="heigt: 381px; width: 100%;" >
        <div>
            <p>
                <span>Crear, innovar y desarrollar la Bienal Digital.</span><br>
                <br>
                El Proyecto "Cultura y Desarrollo" lleva adelante acciones para:<br>
                - Afianzar el vínculo de cooperación institucional entre la Secretaría de Cultura y las Unidades Académicas.<br>
                - Proponer el espacio adecuado para promover desarrollos e innovaciones en materia de Cultura y Políticas Públicas articulando las dimensiones pertinentes que propone Cultura y Desarrollo con las disciplinas propias de las Unidades Académicas.<br>
                - Brindar oportunidades a los estudiantes de la UNL, teniéndolos como principales actores en la búsqueda de innovaciones.<br>
                <br>
                <span>Primer Hackathon de la Bienal de Arte Joven. 24 hs para diseñar y programar.</span>
                <br><br>
                El Hackathon de la Bienal de Arte Joven es un evento organizado por Secretaría de Cultura de la Universidad Nacional del Litoral [UNL], la Facultad de Ingeniería y Ciencias Hídricas [FICH], la Facultad de Arquitectura Diseño y Urbanismo [FADU], la Federación Universitaria del Litoral [FUL] el Centro de   Estudiantes de Arquitectura y Diseño [CEAD]y la Secretaría de Cultura y DDHH del Centro de Estudiantes de la FICH [CEICH].<br> 
                <br>
                Fue pensado como un espacio abierto a la innovacion, pensado para la expresión y la participación de los jóvenes estudiantes de las carreras de la UNL y UTN de diseño, informática, sistemas y público en general.<br>
                <br>
                En esta edicion su objetivo fue proveer a la Bienal de:<br>
                - Sistema de voto digital accesible y que facilite su cómputo.<br> 
                - Aplicación mobile con la programación diaria de la Bienal.<br>
                - Catálogo Digital. Prototipo en desarrollo.<br>
                <br>
                En la declaración de Florencia (2014) se exhorta a los gobiernos a actuar a escala mundial para promover los entornos, los procesos y los productos creativos mediante el apoyo a medidas como: "El fortalecimiento de las capacidades humanas e institucionales en los niveles regional, nacional y local, prestando especial atención al empoderamiento de los jóvenes, para propiciar una concepción holística de la cultura y el desarrollo sostenible al servicio de sistemas efectivos de gobernanza de la cultura y el crecimiento de sectores creativos pujantes"<br>
                <br>
                <span>Equipo ganador del Hackathon:</span><br>
                <br>
                <span>"Speed"</span><br>
                <br>
                Juan Manuel Cruz - FICH<br>
                Andrés Brickman - FADU<br>
                Pablo Ezequiel Ferreyra - ICOP<br>
                <br>
                <span>Jurado del Hackathon</span><br>
                <br>
                Pamela Weiss - FUL,<br> 
                Agustín Longoni - FADU<br>
                Pedro Prez - FICH<br>
                Jesica Ruiz - DIRCOM UNL<br> 
                Gustavo Bellino - Graduado FICH.<br>
                <br> 
                Prensa: +info. <a href="http://www.unl.edu.ar/noticias/news/view/crear_innovar_y_desarrollar_la_bienal_digital#.V8Ng8_nhCUk">http://www.unl.edu.ar/noticias/news/view/crear_innovar_y_desarrollar_la_bienal_digital#.V8Ng8_nhCUk</a><br>
                <br>
                <span>Pya Cultura y Desarrollo</span><br>
                009-III-2.1-02 E2<br> 
                <br>
                Coordinador General del Proyecto: José Moreyra.<br>
                <br>
                Agradecimientos: A la Federación Universitaria del Litoral. A los Decanos, equipo de gestión y personal de FICH y FADU. Agradecimiento especial a Federico Castoldi (DirCom) y Jésica Ruiz (LT10) por su invalorable aporte en el proceso de pos-producción. Al equipo "Speed" (Juan Manuel, Andrés y Pablo) por el trabajo y la dedicación para lograr el objetivo. A los equipos "Ghost", "Ingresantes 2.0" y "Dart" por sumarse con entusiasmo a participar. A Gastón Martin, Rodrigo Goldsack, Matias Garat Ortiz, Martín Hernández, Agostina Lucchio, Eugenia Escalas, Agustin Roldán, Paulina Brodsky, Agostina Allasia, Manuel Arnold, a Lucila y a Lautaro, Stella Scarciófolo, estudiantes de FADU y de FICH.<br>
                <br>
                Agradecimieno a las empresas que Auspiciaron el evento: Serfe, Lemon Data, Altoros y Keetup. Por el invalorable aporte de su experiencia de trabajo a los jóvenes para promover la innovacion y el desarrollo de nuestra cultura.<br>
                <br>
                <span>UNIVERSIDAD NACIONAL DEL LITORAL</span><br>
                Secretaría de Cultura<br>
                <br>
                Facultad de Ingeniería y Ciencias Hídricas.<br>
                Facultad de Arquitectura Diseño y Urbanismo.<br>
                <br>
                Federación Universitaria del Litoral.<br>
                <br>
                2016.<br>
            </p>
        </div>
    </ion-content>
</ion-view>