<ion-view title="Escenicas" id="page6" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="escenicasCtrl" style="background-color: #EA5A57;">
        <div>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(0)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(1)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(2)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(3)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(4)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(5)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(6)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(7)" class="image-list"/><br>
	    </div>
        <div>
           <img ng-src="img/escenicas.jpg" style="heigt: 100%; width: 50%; align: left; vertical-align: text-top; float: left;">
           <p align="justify">La convocatoria se dirige a la búsqueda de nuevos paradigmas en el campo escénico. 
               En este sentido, se considerará especialmente las propuestas que demuestran variedad de recursos técnicos 
               así como también contenidos diversos, prestando mayor atención a la presentación de producciones acordes a las 
               nuevas tendencias del campo. La temática y las características de la puesta en escena son libres y se tendrá 
               especialmente en cuenta el trabajo en su carácter integral. </p>
       </div>  
        </ion-content>
</ion-view>