<ion-view title="12° Bienal de Arte Joven" id="page1" class=" ">
	<ion-content padding="true" class="has-header" ng-controller="inicioCtrl" style="background: #FFFFFF;">
		<img style="heigt: 381px; width: 100%;" ng-click="showBI()" ng-src="img/inicio.gif" />
		<img style="heigt: 381px; width: 100%;" ng-click="share()"	ng-src="img/hashtag.png" />
		<img style="heigt: 381px; width: 100%;" ng-click="vivo()"	ng-src="img/litus.png" />
		<img style="heigt: 381px; width: 100%;" ng-click="showVI()"	ng-src="img/virt.png" />
		<img style="heigt: 381px; width: 100%;" ng-click="showCR()"	ng-src="img/cr.png" />
		<img style="heigt: 381px; width: 100%;" ng-click="showPP()"	ng-src="img/ptepta.png" />
		<img style="heigt: 381px; width: 100%;"	ng-src="img/vot.png" />
	</ion-content>
</ion-view>