<ion-view title="12° Bienal de Arte Joven" id="page1" class=" ">
	<ion-content padding="true" class="has-header" ng-controller="inicioCtrl" style="background-color: #393E80;">
		<div>
			<a class="item item-list-detail transparent">
					<img style="heigt: 381px; width: 100%;" src="img/cr.png" />
					<br>
					<img style="heigt: 381px; width: 100%;" src="img/ptepta.png" />

				<div>
					<p align="justify">La convocatoria apunta a que las propuestas recurran y den 
						cuenta de los más diversos abordajes musicales. 
						En la presente edición, y en virtud de contemplar una mayor 
						amplitud del campo musical, no sólo se pueden presentar los 
						géneros habituales, sino que también serán consideradas todas 
						aquellas producciones creadas a partir de los diversos códigos  
						y géneros de la expresión musical, de su fusión y su 
						transversalidad.</p>
       			</div>
			</a>
	   </div>
	</ion-content>
</ion-view>