<ion-view title="12° Bienal de Arte Joven" id="page15" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="inicioCtrl" style="background: #FFFFFF;">
        <img ng-src="img/parteplaneta.png" ng-click="createCalendarEvent(2)" style="heigt: 381px; width: 100%;" >
        <div>
            <p>
                <span>21:00 | FCJS · Patio de la Reforma</span><br>
                <br>
                Homenaje al Rock Santafesino<br> 
                <span>PARTEPLANETA,</span> banda ganadora de la Bienal de Arte Joven 2010, 
                referente del rock en nuestra ciudad y ya establecida en la escena del nuevo rock nacional, 
                Rinde su homenaje a los clásicos contemporáneos del rock santafesino con un repertorio que 
                pasará por las obras más reconocidas de bandas legendarias y tan vigentes como Carneviva, 
                La Cruda, Cabezones, Pobre Vaca, Sig Ragga, Butumbaba, entre otros.<br>
                <br>
                <span>Luciano Farelli:</span> guitarra y voz<br>
                <span>Fernando Romero:</span> bajo y coros</br>
                <span>Manuel Cena:</span> batería y coros<br>
                <span>Lucas Delacroix:</span> guitarra y coros<br>
                <br>
                <span>músicos invitados:</span><br>
                <span>Cristian “El Muñe” Cargnello</span> [Butumbaba]<br>
                <span>Cesar Andino</span> [Cabezones]<br>
                <span>Rodrigo González</span> [La cruda]<br>
                <span>Gustavo Angelini</span> [Carneviva]<br>
                <span>Gustavo Cortes</span> [Sig Ragga]<br>
                <span>Camilo Hormaeche</span> [Pobre vaca]<br>
                <span>Agustín “Flaco” Ferrero y Cristian “Matungo” Deicas</span> [Astro Bonzo]<br>
            </p>
        </div>
    </ion-content>
</ion-view>