<ion-view title="Staff" id="page20" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="inicioCtrl" style="background: #FFFFFF;">
        <div>
            <p>
                <span>COORDINACIÓN GENERAL</span><br>
                José Moreyra<br>
                <br>
                <span>PRODUCCIÓN EJECUTIVA</span><br> 
                Sol Abásolo, Eugenia Albanese, Analía Batistela, Marilyn García, José Moreyra, Facundo Nuñez<br>
                <br>
                <span>COORDINACIÓN FUL</span><br> 
                Pamela Weiss<br>
                <br>
                <span>AUDIOVISUALES</span><br>
                <span>Coordinación:</span> Paula Rodríguez<br>
                <span>Asistencia:</span> Joaquín Maciel<br>
                <br>
                <span>ESCÉNICAS</span><br>
                <span>Coordinación:</span> Analía Batistela, Marilyn García, Eugenia Albanese<br>
                <br>
                <span>LETRAS</span><br>
                <span>Coordinación:</span> Santiago Venturini<br>
                <span>Asistencia:</span> Elisabeth Navarrete<br>
                <br>
                <span>MÚSICA</span><br> 
                <span>Coordinación:</span> Florencia Russo, Ariel Theuler, Juan Curto<br> 
                <span>Asistencia:</span> Matías Sebastián Tell<br>
                <br>
                <span>VISUALES</span><br>
                <span>Coordinación:</span> Vanina Gutiérrez, Sebastián Mercau<br>
                <span>Asistencia:</span> Guillermo Andrés Brikman<br>
                <br>
                <span>PRODUCCIÓN FERIA DE DISEÑO</span><br> 
                Agostina Allasia<br>
                <br>
                <span>DISEÑO</span><br>
                Paula Bergesio, Gustavo Driussi, Georgina Rodríguez<br>
                <br>
                <span>PRENSA</span><br>
                Magdalena Busaniche, Ivana Carino, Fabián Fortunatti, Mili López<br> 
                <br>
                <span>COORDINACIÓN TÉCNICA RECTORADO</span><br> 
                Ariel Theuler<br>
                <br>
                <span>COORDINACIÓN TÉCNICA FORO CULTURAL</span><br>
                Emiliano Hynes, Francisco Torres<br>
                <br>
                <span>MONTAJE Y CURADURÍA VISUALES</span><br>
                Alfonso “Ponchi” Insaurralde<br>
                <br>
                <span>AGRADECIMIENTOS</span><br>
                <br>
                Autoridades y personal de la FCJS<br> 
                Autoridades y personal de la Dirección de Obras y Servicios Centralizados<br>  
                Autoridades y personal de la FADU<br>
                Autoridades y personal de la FHUC - ISM<br>
                Autoridades y personal de la FICH<br>
                Autoridades y Personal de la FAVE<br>
                Expresiva<br>
                Ministerio de Cultura de la Nación<br> 
                Estudiantes que colaboraron voluntariamente en la organización<br>
                En especial a todo el personal del Foro Cultural UNL.<br>
                <br>
                <span>Agradecimiento especial: Diputado Nacional Hugo Marcucci</span><br> 

            </p>
        </div>
    </ion-content>
</ion-view>