<ion-view title="Voto AudioVisuales" id="page10" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="vAVCtrl" style="background-color: #ED7635;">
        <div>
        <img ng-src="img/bannerav.png" style="heigt: 100%; width: 100%">
           <a class="item item-list-detail transparent">
            <form name="AV">
                    <ion-radio ng-repeat="item in serverSideList"
                            ng-value="item.value"
                            ng-model="data.serverSide"
                            ng-change="serverSideChange(item)"
                            name="server-side">
                            {{ item.text }}
                    </ion-radio>
            </form>
            </a>
        </div>
    </ion-content>
</ion-view>