<ion-view title="Voto Escenicas" id="page13" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="vEscenicasCtrl" style="background-color: #EA5A57;">
        <img ng-src="img/bannerescenicas.png" style="heigt: 100%; width: 100%">

              <form name="escenicas">
                    </ion-header-bar>
                    <ion-radio ng-repeat="item in serverSideList"
                            ng-value="item.value"
                            ng-model="data.serverSide"
                            ng-click="serverSideChange(item)"
                            name="server-side">
                            {{ item.text }}
                    </ion-radio>
            </form>
    </ion-content>
</ion-view>   