<ion-view title="12° Bienal de Arte Joven" id="page16" class=" ">
    <ion-content padding="true" class="has-header"   ng-controller="inicioCtrl" style="background: #FFFFFF;">
        <img ng-src="img/virtmia.png" ng-click="createCalendarEvent(0)" style="heigt: 381px; width: 100%;" >
        <div>
            <p>
                <span>21:00 | Rectorado · Explanada</span><br>
                <br>
                Performance 12° Bienal de Arte Joven<br> 
                <span>VIRTMIA</span><br>
                de Proyecto Emigrante <br> 
                <span>dramaturgia y dirección:</span> Nicolás Frontuto<br>
                <br>
                Víctor, un alquimista marginal, desarrolla su fantástica dimensión virtual 
                sobre la base de una máquina.
                Para lograr esta dimensión, el personaje utiliza sustancias líquidas y sólidas,
                energía sonora a través de impulsos y frecuencias junto con proyecciones de luz e imagen.
                Estos elementos convergen en la maquinaria instalada en su vieja habitación
                para dar vida a su intenso universo: Un nuevo ecosistema virtual.
                No todo saldrá como estaba previsto. Si la máquina falla ¿Qué sucederá?
                El espectáculo narrado en clave de multilenguaje: música en vivo, teatro en
                altura, video mapping e instalaciones.
                El objetivo es lograr entrar junto con el espectador
                a este deseado concepto de teatralidad tecnológica.<br>
                <br>
                <span>FICHA TECNICA:</span><br>
                <span>en escena:</span> Ignacio Brasesco (Víctor), Lucila Gunno (asistente), 
                Esteban Mannarino (operario), Nicolás Frontuto (operario) y Paola Ibañez (operaria).<br>
                <span>dirección, diseño y operación de video instalación (mapping):</span> Ceibo Bloom<br>
                <span>dirección, composición y ejecución musical:</span> Nicolás Frontuto, Esteban Mannarino<br>
                <span>teatro en altura:</span> Lucila Gunno<br>
                <span>teatro:</span> Ignacio Brasesco<br>
                <span>ingeniería, diseño sonoro y operación:</span> Fabian Molinengo<br>
                <span>diseño y operación de iluminación:</span> Franco Bertoldi<br>
                <span>producción de escenario:</span> Oscar Heit, Ariel Eier Pic<br>
                <span>diseño de fotografía:</span> Paula Arcucci, Luciana Ferreyra<br>
                <span>maquillaje y fx:</span> Paula Arcucci, Mariana Gerosa<br>
                <span>vestuario:</span> Sofía Rosselli<br>
                <span>animación:</span> Claudia Ruiz<br>
                <span>postproducción animación:</span> Marcos Martínez<br>
                <span>edición animación:</span> Nicolás Frontuto<br>
                <span>producción comercial:</span> Hann Pared<br>
                <span>puesta escénica, dramaturgia y producción general:</span> Proyecto Emigrante<br>
                <span>dirección general:</span> Nicolás Frontuto<br>
            </p>
        </div>
    </ion-content>
</ion-view>