<ion-view title="Visuales" id="page5" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="visualesCtrl" style="background-color: #393E80;">
        <div>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(0)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(1)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(2)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(3)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(4)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(5)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(6)" class="image-list"/><br>
            <img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" ng-click="createCalendarEvent(7)" class="image-list"/><br>
	    </div>
       <div>
           <img ng-src="img/VISUALES.jpg" style="heigt: 100%; width: 50%; align: left; vertical-align: text-top; float: left;">
           <p align="justify">La convocatoria se dirige especialmente a los jóvenes
                                que experimentan en el amplio campo del lenguaje visual.
                                Se apela a que las producciones den cuenta de los más
                                diversos abordajes del discurso contemporáneo, como así
                                también revelen amplitud de planteos técnicos y de
                                contenido, en orden a mostrar una producción artística
                                acorde a las nuevas tendencias y códigos visuales. En el
                                campo de expresiones visuales los soportes, contenidos,
                                técnicas y temáticas son libres.</p>
       </div>
        </ion-content>
</ion-view>