<ion-view title="Voto Letras" id="page11" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="vLetrasCtrl" style="background-color: #00A880;">
        <img ng-src="img/bannerletras.png" style="heigt: 100%; width: 100%">

              <form name="Letras">
                    </ion-header-bar>
                    <ion-radio ng-repeat="item in serverSideList"
                            ng-value="item.value"
                            ng-model="data.serverSide"
                            ng-click="serverSideChange(item)"
                            name="server-side">
                            {{ item.text }}
                    </ion-radio>
            </form>
    </ion-content>
</ion-view>   