<ion-view title="Voto Visuales" id="page12" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="vVisualesCtrl" style="background-color: #393E80;">
        <img ng-src="img/bannervisuales.png" style="heigt: 100%; width: 100%">

              <form name="visuales">
                    </ion-header-bar>
                    <ion-radio ng-repeat="item in serverSideList"
                            ng-value="item.value"
                            ng-model="data.serverSide"
                            ng-click="serverSideChange(item)"
                            name="server-side">
                            {{ item.text }}
                    </ion-radio>
            </form>
    </ion-content>
</ion-view>   