<ion-view title="Escenicas" id="page6" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="escenicasCtrl" style="background-color: #EA5A57;">
        <div>
           <a class="item item-list-detail transparent">
           <ion-scroll direction="x">
            <img ng-repeat="image in aImages" style="heigt: 381px; width: 100%;" ng-src="{{image.src}}" ng-click="createCalendarEvent($index)" class="image-list"/>
           </ion-scroll>
           </a>
	    </div>
        <div>
           <img src="img/escenicas.jpg" style="heigt: 100%; width: 50%; align: left; vertical-align: text-top; float: left;">
           <p align="justify">La convocatoria se dirige a la búsqueda de nuevos paradigmas en el campo escénico. 
               En este sentido, se considerará especialmente las propuestas que demuestran variedad de recursos técnicos 
               así como también contenidos diversos, prestando mayor atención a la presentación de producciones acordes a las 
               nuevas tendencias del campo. La temática y las características de la puesta en escena son libres y se tendrá 
               especialmente en cuenta el trabajo en su carácter integral. </p>
       </div>
       
        <div class="item item-divider">
            
            <i class="ion-images"></i>
            <b>Artistas</b>/Puede votar por su artista favorito
        </div>

        <a class="item item-list-detail transparent">
            <ion-scroll direction="x">
                <img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
            </ion-scroll>
        </a>
        </ion-content>
</ion-view>