<ion-view title="12° Bienal de Arte Joven" id="page1" class=" ">
	<ion-content padding="true" class="has-header" ng-controller="inicioCtrl" style="background-color: #393E80;">
		<div>
		   <a class="item transparent">
			<img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" class="image-list"/><br>
			<img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" class="image-list"/><br>
			<img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" class="image-list"/><br>
			<img style="heigt: 381px; width: 100%;" ng-src="img/imagen-pantalla1.png" class="image-list"/><br>
		   </a>
	   </div>
	</ion-content>
</ion-view>