<ion-view title="Transmision En Vivo" id="page2" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="musicaCtrl" style="background-color: #F8B451;">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dnzGUVNlqRw" frameborder="0"></iframe>
        </div>
        <div style="margin-left:50%; margin-right:50%;">
            <br>
            <a href="#" class="btn-floating btn-large waves-effect waves-light red" onclick="window.open('https://youtu.be/dnzGUVNlqRw', '_system'); return false;"><i class="material-icons ion-social-youtube"></i></a>
        </div>    
    </ion-content>
</ion-view>

