<ion-view title="Voto Musica" id="page9" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="vMusicaCtrl" style="background-color: #F8B451;">
        <div>
        <img src="img/bannermusica.png" style="heigt: 100%; width: 100%">
           <a class="item item-list-detail transparent">
            <ion-list>
                    <ion-header-bar class="bar bar-subheader">
                        <h1>Categoria A</h1>
                    </ion-header-bar>
                    <ion-list ng-repeat="item in serverSideListA"
                            ng-click="serverSideChange($index)">
                            {{ item.text }}
                    </ion-list>
                    <ion-header-bar class="bar bar-subheader">
                        <h1>Categoria B</h1>
                    </ion-header-bar>
            </ion-list>
            </a>
        </div>
    </ion-content>
</ion-view>