<ion-view title="Voto Musica" id="page9" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="vMusicaCtrl" style="background-color: #F8B451;">
        <div>
        <div>
           <a class="item item-list-detail transparent">
            <form name="Musica" action="" method="GET">
                <h1>Categoria A</h1>
                    <ion-radio ng-model="choice" ng-value="EfrainCaraballo">Efraín Caraballo</ion-radio>
                    <ion-radio ng-model="choice" ng-value="HablaLaMuda">Habla La Muda</ion-radio>
                    <ion-radio ng-model="choice" ng-value="Meraki">Meraki</ion-radio>
                    <ion-radio ng-model="choice" ng-value="RapLibre">Rap Libre</ion-radio>
                    <ion-radio ng-model="choice" ng-value="Sin-dDevolucion">Sin devolución</ion-radio>
                    <ion-radio ng-model="choice" ng-value="Sinner">Sinner</ion-radio>
                <h1>Categoria B</h1>
                    <ion-radio ng-model="choice" ng-value="EfrainCaraballo">Efraín Caraballo</ion-radio>
                    <ion-radio ng-model="choice" ng-value="HablaLaMuda">Habla La Muda</ion-radio>
                    <ion-radio ng-model="choice" ng-value="Meraki">Meraki</ion-radio>
                    <ion-radio ng-model="choice" ng-value="RapLibre">Rap Libre</ion-radio>
                    <ion-radio ng-model="choice" ng-value="Sin-dDevolucion">Sin devolución</ion-radio>
                    <ion-radio ng-model="choice" ng-value="Sinner">Sinner</ion-radio>
            </form>
            </a>
        </div>
    </ion-content>
</ion-view>