<ion-view title="Votar" id="page8" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="votoCtrl" style="background-color: #F8B451;">
        <FORM NAME="myform" ACTION="" METHOD="GET">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" name="Nombre" placeholder="Nombre">
            </label>
            <label class="item item-input">
                <input type="text" name="Apellido" placeholder="Apellido">
            </label>
            <label class="item item-input">
                <input type="number" name="DNI" placeholder="DNI">
            </label>
            <label class="item item-input">
                <input type="email" name="Email" placeholder="Email">
            </label>
        </div>

         <button class="btn waves-effect waves-light" ng-click="testClick()">
                    <i>Ingresar</i>
                    <i class="ion-android-send left"></i>
                </button>
        </div>
        </FORM>
    </ion-content>
</ion-view>