<ion-view title="Letras" id="page4" class=" ">
      <ion-content padding="true" class="has-header"ng-controller="inicioCtrl" style="background-color: #ED7635;">
        <div>
           <img src="img/LETRAS.jpg" style="heigt: 100%; width: 50%; align: left; vertical-align: text-top; float: left;">
           <p align="justify">Se busca que los trabajos presentados puedan dar cuenta de los diversos géneros y soportes
               en los que el discurso se manifiesta en la actualidad. En consonancia con lo anterior, se recibirán producciones
               escritas que no necesariamente pertenezcan a los géneros más tradicionales, sino que se convoca a la presentación
               de diversos tipos de textos.</p>
       </div>
       
        <div class="item item-divider">
            
            <i class="ion-images"></i>
            <b>Artistas</b>/Puede votar por su artista favorito
        </div>

        <a class="item item-list-detail transparent">
            <ion-scroll direction="x">
                <img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
            </ion-scroll>
        </a>
      </ion-content>
</ion-view>